<div class="page">
  <p class="large-text">File information:</p>

  <p><strong>Sent by:</strong> <%= @document.name %> (<%= @document.email %>)</p>

  <p><strong>File name:</strong> <%= @document.document_file_name %></p>

  <p><strong>Size:</strong> <%= formatted(@document.document_file_size) %></p>

  <% if @document.message %>
    <p><strong>Message:</strong><br>
    <%= @document.message %></p>
  <% end %>

  <%= link_to "Download file", document_download_path(@document), :class => "large-text" %>

  <p class="medium-text">Remember, you have until <%= @document.formatted_expiration %> to download this file.  After that time, the file will be purged from our system.</p>
</div>