<div class="page">
  <p class="large-text">File information:</p>

  <p><strong>Sent by:</strong> <%= @fileshare.sender_name %> (<%= @fileshare.sender_email %>)</p>

  <% if @fileshare.message %>
    <p><strong>Message:</strong><br>
    <%= @fileshare.message %></p>
  <% end %>

  <% @fileshare.active_documents.each do |doc| %>
    <p><strong>File name:</strong> <%= doc.document_file_name %></p>

    <p><strong>Size:</strong> <%= formatted(doc.document_file_size) %></p>

    <%= link_to "Download file", {:controller => 'downloads', :action => 'show', :fileshare_id => @fileshare.id, :document_id => doc.id}, :class => "large-text" %>
  <% end %>

  <p class="medium-text">Remember, you have until <%= @fileshare.formatted_expiration %>, PST, to download these files.  After that time, the files will be purged from our system.</p>
</div>