<div class="page">
  <p class="large-text">File information:</p>

  <p><strong>Sent by:</strong> <%= @fileshare.name %> (<%= @fileshare.email %>)</p>

  <p><strong>File name:</strong> <%= @fileshare.fileshare_file_name %></p>

  <p><strong>Size:</strong> <%= formatted(@fileshare.fileshare_file_size) %></p>

  <% if @fileshare.message %>
    <p><strong>Message:</strong><br>
    <%= @fileshare.message %></p>
  <% end %>

  <%= link_to "Download file", fileshare_download_path(@fileshare), :class => "large-text" %>

  <p class="medium-text">Remember, you have until <%= @fileshare.formatted_expiration %> to download this file.  After that time, the file will be purged from our system.</p>
</div>