<div class="page">
  <p class="large-text">Your file has been sent!&nbsp;
  <strong>Don't you feel Gratifiled?</strong></p><br>

  <p class="medium-text"><strong>Confirmation details:</strong></p>

  <p>
  <strong>Your info:</strong><br>
  <%= @fileshare.sender_name %><br>
  <%= @fileshare.sender_email %><br>
  </p>

  <p>
  <strong>Your recipient:</strong><br>
  <%= @fileshare.recipient_email %><br>
  </p>

  <p>
  <% if @fileshare.message != "" %>
    <strong>Personal message:</strong><br>
    <%= @fileshare.message %>
  <% end %>
  </p>

  <p>
  <strong>File info (<%= pluralize(@fileshare.documents.count, "file") %> sent):</strong><br>
    <% @fileshare.documents.each do |doc| %>
      <%= doc.document_file_name %><br>
      <%= formatted(doc.document_file_size) %><br>
    <% end %>
  </p>

  <p class="medium-text">Your recipient has been emailed a link to download your files and has until <%= @fileshare.formatted_expiration %>, PST, to view and download the files.</p><br>

  <%= button_to "Send another file", new_fileshare_path, method: :get, :class => "button" %>
</div>