<div class="page">
  <p class="large-text">Your file has been sent!&nbsp;
  <strong>Don't you feel Gratifiled?</strong></p><br>

  <p class="medium-text"><strong>Confirmation details:</strong></p>

  <p>
  <strong>Your info:</strong><br>
  <%= @document.name %><br>
  <%= @document.email %><br>
  </p>

  <p>
  <strong>Your recipient:</strong><br>
  <%= @document.recipient_email %><br>
  </p>

  <p>
  <% if @document.message != "" %>
    <strong>Personal message:</strong><br>
    <%= @document.message %>
  <% end %>
  </p>

  <p>
  <strong>File info:</strong><br>
  <%= @document.document_file_name %><br>
  <%= formatted(@document.document_file_size) %>
  </p>

  <p class="medium-text">Your recipient has been emailed a link to download your file and has until <%= @document.formatted_expiration %> to view and download the file.</p><br>

  <%= button_to "Send another file", new_document_path, :class => "button" %>
</div>